<?xml version="1.0" encoding="UTF-8"?>
<!--/**
 *  Copyright (c) 2005 by David Bridgewater
 *  All rights reserved.
 *  
 *  You may study, use, modify, and distribute this
 *  software for any purpose provided that this
 *  copyright notice appears in all copies.
 *  
 *  This software is provided without warranty
 *  either expressed or implied.
 */-->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee     http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!--<context-param>
        <param-name>propsFileLocation</param-name>
        <param-value>/WEB-INF</param-value>
    </context-param>
    <context-param>
        <param-name>propsFileName</param-name>
        <param-value>proai.properties</param-value>
    </context-param>-->
    <servlet>
        <servlet-name>ProviderServlet</servlet-name>
        <servlet-class>proai.service.ProviderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProviderServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--<listener>
        <listener-class>de.fiz.karlsruhe.service.ProviderServlet</listener-class>
    </listener>-->
</web-app>
